rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function userHasRole(role) {
    return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == role;
    }

    function userExists() {
    return exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }

    match /products/{uId} {
      allow read: if true;
      allow create: if request.auth != null && (userExists());
      allow delete: if request.auth != null && (userHasRole('admin'));
      allow update: if request.auth != null && (userHasRole('admin'));
    }

     // Allows super admin to read or write to any document
        match /{document=**} {
          allow read, write: if request.auth != null && ((userHasRole('superAdmin')))
        }
  }
}
